# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        99
        104
        105
        115
        101
        108
        37
        51
        65
        101
        110
        100
        115
        116
        111
        110
        101
        49
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        50
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        72
        120
        -38
        99
        98
        -110
        75
        -50
        -56
        44
        78
        -51
        81
        53
        118
        76
        -51
        75
        41
        46
        -55
        -49
        75
        53
        -76
        47
        75
        44
        -54
        76
        44
        -55
        -52
        -49
        -77
        53
        98
        16
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        1
        42
        73
        -52
        44
        -78
        103
        16
        -8
        -64
        -4
        31
        13
        48
        -96
        -127
        81
        -7
        -31
        37
        15
        0
        -83
        -90
        17
        47
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


